<!-- start footer part -->
<!--BEGIN GENERATE_TREEVIEW-->
<div id="nav-path" class="navpath"><!-- id is needed for treeview function! -->
  <ul>
    $navpath
    <li class="footer"><b>$projectname</b> es creado y mantenido por <b>MSc. Jimmy Aguilar Mena</b>. Documentación Generada el $date</li>
  </ul>
</div>
</body>
</html>
